// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #bf0066;
@light-gray: #e6007a;
@gray: #bf0066;
@dark-gray: #800044;
@very-dark-gray: #400022;

@very-light-pink: #eebbd6;
@light-pink:#ff99cf;
@pink-one: #ff66b8;



@barbie-pink: #e2b6d5;

@cyan: #a0e0f0;
@blue: #b9aadb;
@purple: #c79add;
@green: #81daa0;
@red: #fb7380;
@orange: #e09e7e;
@light-orange: #fff1a8;
