// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@very-light-pink: #f5e7ef;
@light-pink:#dcaed1;
@pink-one: #e2b6d5;



@barbie-pink: #e2b6d5;

@cyan: #8abeb7;
@blue: #b7d3f2;
@purple: #b294bb;
@green: #b5bd68;
@red: #f4c2c1;
@orange: #de935f;
@light-orange: #f0c674;
